* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
#container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* margin-top: 5rem; */
  padding: 5rem 3rem;
  gap: 3rem;
}
.post {
  background: #b8bcd484;
  padding: 2rem 2rem;
  border-radius: 1rem;
}
.post h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}
.post p:first-of-type {
  margin-bottom: 1rem;
  font-size: 12px;
  text-align: right;
}
.post p:nth-of-type(2) {
  font-size: 14px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  #container {
    grid-template-columns: auto;
    padding: 5rem 1rem;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  #container {
    grid-template-columns: auto auto;
    padding: 5rem 1rem;
    gap: 2rem;
  }
}
